<header>
	<h1><b>Estrés académico</b></h1>
	<p class="subtitle">Información, causas y soluciones</p>
</header>

<nav>
	<ul>
		<li><a href="/#foro">Foro</a></li>
		<li><a href="/#consejos">Consejos</a></li>
		<% if (user) { %>
		
			<li>
				<a href="/logout">Cerrar Sesión</a>
			</li>
			<% } else { %>
			<li><a href="/login">Iniciar sesión</a></li>
			<li><a href="/signup">Registrarse</a></li>
			<% } %>
	</ul>
	<div class="cuenta-container">
		<div class="boton-cuenta" onclick="toggleSubcuenta()">Cuenta</div>
		<div id="subcuenta" class="subcuenta">
			<% if (user) { %>
	
				<a href="/logout">Cerrar Sesión</a>
			
			<% } else { %>
			<a href="/login">Iniciar sesión</a>
			<a href="/signup">Registrarse</a>
			<% } %>		</div>
	</div>
	</div>
</nav>