<header>
	<h1><b>Estrés académico</b></h1>
	<p class="subtitle">Perdil_del usuario</p>
</header>
<body>
	<%- include('partials/header') %>
	<div class="container">
		<div class="main-content">
			<div class="section">
				<h3>Nombre_de_usuario</h3>
				<p>Nombre_de_usuario</p>
				<h3>Puntaje del usuario</h3>
				<p>Puntaje del test</p>
</body>
