<!DOCTYPE html>
<html lang="es-PE">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Estrés Académico</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		body {
			font-family: 'Roboto', sans-serif;
			margin: 0;
			padding: 0;
			background-color: #f7f7f7;
		}
		main {
			max-width: 1200px;
			margin: 0 auto;
			padding: 80px;
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
		p {
			line-height: 1.5;
		}
	</style>
</head>
<body>
	<main>
		<h1>Ruta protegida con los tests</h1>
		<p>Hola, <strong><%= email %></strong></p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolore sunt ut quos sint illo eum veniam, eligendi sequi, ex quo doloribus nesciunt corrupti et deleniti? Quibusdam, quo blanditiis. Neque.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolore sunt ut quos sint illo eum veniam, eligendi sequi, ex quo doloribus nesciunt corrupti et deleniti? Quibusdam, quo blanditiis. Neque.</p>
		<form method="post" action="/logout"><button>Logout</button></form>
	</main>
</body>
</html>